@import "tailwindcss";

html, body {
  background: #f1f5f9; 
  color: #0f172a;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
